<div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="100%" fxFlex.sm="60%" fxFlex.xs="100%">
        <!-- TITRE ET PRESENTATION DU PROJET -->
        <div ngStyle.lt-md="margin:20px;" ngStyle.gt-sm="width:500px;">
            <h1 class="titre-projets">{{ (project$ | async).titre }}</h1>
            <p class="description-projets" *ngFor="let description of (project$ | async).description">{{ description }}</p>
            <br />
            <h3> {{ (project$ | async).signature_projet }}</h3>
        </div>
        <!-- PREMIER GROUPE D'IMAGES -->
        <div *ngFor="let image of (project$ | async).images">  
            <ng-container *ngIf="image">   
                <img ngClass.lt-md="images-projet-mobile" ngClass.gt-sm="images-projet" src='assets/img/{{image}}'> 
            </ng-container>
        </div>

        <!-- PREMIERE LEGENDE -->
        <ng-container *ngIf="(project$ | async).legende1.length > 0">
            <p ngStyle.xs="margin-right: 5%; margin-left: 5%; width: 90%;" ngStyle.gt-sm="width:500px;" class="legende-projets" *ngFor="let legende of (project$ | async).legende1"> {{ legende }}</p>
        </ng-container>

        <!-- 2E GROUPE D'IMAGES -->
        <div *ngFor="let image of (project$ | async).images1">  
            <ng-container *ngIf="image">  
                <img ngClass.lt-md="images-projet-mobile" ngClass.gt-sm="images-projet" src='assets/img/{{image}}'> 
            </ng-container>
        </div>

        <!-- 2E LEGENDE -->
        <ng-container *ngIf="(project$ | async).legende2.length >= 2">
            <p ngStyle.xs="margin-right: 5%; margin-left: 5%; width: 90%;" ngStyle.gt-sm="width:500px;" class="legende-projets" *ngFor="let legende of (project$ | async).legende2"> {{ legende }}</p>
        </ng-container>

        <!-- 3E GROUPE D'IMAGES -->
        <div *ngFor="let image of (project$ | async).images2"> 
            <ng-container *ngIf="image">  
                <img ngClass.lt-md="images-projet-mobile" ngClass.gt-sm="images-projet" src='assets/img/{{image}}'> 
            </ng-container>
        </div>

        <!-- 3E LEGENDE -->
        <ng-container *ngIf="(project$ | async).legende3.length > 0">
            <p ngStyle.xs="margin-right: 5%; margin-left: 5%; width: 90%;" ngStyle.gt-sm="width:500px;" class="legende-projets" *ngFor="let legende of (project$ | async).legende3"> {{ legende }}</p>
        </ng-container>

        <!-- 4E GROUPE D'IMAGES -->
        <div *ngFor="let image of (project$ | async).images3">   
            <ng-container *ngIf="image">
                <img ngClass.lt-md="images-projet-mobile" ngClass.gt-sm="images-projet" src='assets/img/{{image}}'> 
            </ng-container>
        </div>

        <!-- 4E LEGENDE -->
        <ng-container *ngIf="(project$ | async).legende4.length === 0">
            <p ngStyle.xs="margin-right: 5%; margin-left: 5%; width: 90%;" ngStyle.gt-sm="width:500px;" class="legende-projets" *ngFor="let legende of (project$ | async).legende4"> {{ legende }}</p>
        </ng-container>

        <!-- 5E GROUPE D'IMAGES -->
        <div *ngFor="let image of (project$ | async).images4">
            <ng-container *ngIf="image">   
                <img ngClass.lt-md="images-projet-mobile" ngClass.gt-sm="images-projet" src='assets/img/{{image}}'> 
            </ng-container>
        </div>

        <!-- 5E LEGENDE -->
        <ng-container *ngIf="(project$ | async).legende5.length === 0"> 
            <p ngStyle.xs="margin-right: 5%; margin-left: 5%; width: 90%;" ngStyle.gt-sm="width:500px;" class="legende-projets" *ngFor="let legende of (project$ | async).legende5"> {{ legende }}</p>
        </ng-container>

        <!-- 6E GROUPE D'IMAGES -->
        <div *ngFor="let image of (project$ | async).images5">  
            <ng-container *ngIf="image"> 
                <img ngClass.lt-md="images-projet-mobile" ngClass.gt-sm="images-projet" src='assets/img/{{image}}'> 
            </ng-container>
        </div>

        <!-- LEGENDE FINALE -->
        <p ngStyle.xs="margin-right: 5%; margin-left: 5%; width: 90%;" ngStyle.gt-sm="width:500px;" class="legende-projets" *ngFor="let legende of (project$ | async).legende_finale"> {{ legende }}</p>
        <br />

        <!-- FOOTER -->
        <div class="footer">
            <h3>{{ (project$ | async).copyright }}</h3>
            <h3 class="signature">{{ (project$ | async).signature }}</h3>
        </div>
    </div>
</div>