<div ngClass.sm="container-xs" ngClass.sm="container-sm" ngClass.gt-sm="container">
<mat-grid-list [cols]="tile.cols" [gutterSize]="tile.gutterSize">
  <mat-grid-tile *ngFor="let vignette of vignettes">
    <a routerLink="/{{vignette.lien}}" ngStyle.xs="width:100%; height:100%;">
      <img ngClass.gt-sm="vignettes" ngClass.lt-md="vignettes-mobile" src='assets/img/{{vignette.image}}' alt='{{vignette.alt}}'>
    </a>
  </mat-grid-tile>
</mat-grid-list>

<!-- FOOTER -->
<div class="footer">
    <h3>Graphisme - Illustration</h3>
    <h3 class="signature">Léna Piroux 2019</h3>
</div>
</div>