<div ngClass.lt-md="container-mobile" ngClass.gt-sm="container">
<mat-grid-list [cols]="tile.cols" [gutterSize]="tile.gutterSize">
  <mat-grid-tile *ngFor="let vignette of vignettes">
    <a routerLink="/{{vignette.lien}}" ngStyle.lt-md="height:100%; width:100%;">
      <img style="width: 150px;" ngStyle.lt-md="width:100%;" src='assets/img/{{vignette.image}}' alt='{{vignette.alt}}'>
    </a>
  </mat-grid-tile>
</mat-grid-list>

<!-- FOOTER -->
<div class="footer">
    <h3>Graphisme - Illustration</h3>
    <h3 class="signature">Léna Piroux 2019</h3>
</div>
</div>