.vignettes {
    width: 110px;
}

.vignettes-mobile {
    width: 100%;
}
.container {
    width: 500px;
}

.container-sm {
    margin-left: 5%;
    margin-right:5%;
    margin-top: 5%;
    width: 90%;
}

.container-xs {
    width: 100%;
}