body{
    height: 100%;
    display: block;
}

.full-container{
    position: relative;
}
.toolbar{
    position:sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0;
    z-index: 1000; 
}

.mat-menu-panel.menu-lena {
    max-width:none;
    width: 100vw;
    margin-left: -15px;
    margin-top:8px;
    min-height: 100%;
    height:100%;
    position: absolute;
}

.mat-menu-item {
    color: black;
    font-size: 15px;
}

button.mat-menu-item{
    background-color: white;
    text-align: center;
}

button.mat-menu-item:hover {
    font-weight: bold !important; 
    background-color: white !important;
}

.images-titres{
    width: 30%;
    display: block;
    margin: 0 auto;
}
.img-contact-container{
    text-align: center;
}

.images-contact{
    width: 10%;
}

.logo-container {
    text-align: center;
    margin-left:-40px;
    margin-top:8px;
}

.img-logo{
    width: 40%;
}

#logo {
    width: 80%;
    margin-left:1.5%
}

.app-container {
    padding-top: 4%;
    width: 900px;
    display: block;
    margin: auto;
}

.menu-container {
    display: block;
    float: left;
    margin-right:40px;
}

.content-container {
    margin-top: 80px;
    display: block;
    float: left;
}

