<div fxLayout="row" class="padding-top">
    <div fxFlex="60%" fxFlexOffset="20%">
        <div fxLayout="row">
            <div fxFlex="33%">
                <a routerLink="home">
                <img id="logo" class="images-titres margin-mini-left" src='assets/img/logoweb.jpg'>
                </a>
            </div>
            <div fxFlex="67%"></div>
        </div>
        <div fxLayout="row">
            <div fxFlex= "33%">
                <app-menu></app-menu>
            </div>
            <div fxFlex="67%">
                <router-outlet></router-outlet>
            </div> 
        </div>
    </div>    
</div>
