.mat-menu-panel.menu-lena {
    max-width:none;
    width: 100vw; 
    margin-left: -8px;
    overflow: visible;
}

.mat-menu-item {
    color: black;
    font-size: 15px;
}

button.mat-menu-item{
    background-color: white;
    text-align: center;
}

button.mat-menu-item:hover {
    font-weight: bold !important; 
    background-color: white !important;
}

.images-titres{
    width: 30%;
    display: block;
    margin: 0 auto;
}

#logo {
    width: 80%;
    margin-left:1.5%
}

#logo-toolbar {
    margin-top: 10px;
    margin-left: -120px;
    width: 100%;
}


.app-container {
    padding-top: 4%;
}

.menu-container {
    position: fixed;
    width: 250px;
}

.content-container {
    margin-top: 80px;
    margin-left: 250px;
}

