.green-background-color {
    background-color: green;
}
#logo {
    width: 80%;
    margin-left:1.5%
}


.app-container {
    padding-top: 4%;
}

.menu-container {
    position: fixed;
    width: 250px;
}

.content-container {
    margin-top: 80px;
    margin-left: 250px;
}

