<mat-toolbar color="primary">My App</mat-toolbar>


<!-- DIV ENGLOBANT TOUTE L'APP -->
<div fxLayout="row" class="app-container">
    <div fxFlex="60%" fxFlexOffset="20%">
        
        <div fxLayout="row">
            <!-- DIV ENGLOBANT LE MENU -->
            <div fxFlex="33%" class="menu-container">
                <a routerLink="home">
                    <img id="logo" class="images-titres margin-mini-left" src='assets/img/logoweb.jpg'>
                </a>
                <app-menu></app-menu>
            </div>

            <!-- DIV ENGLOBANT LA GRILLE ET LES PAGES PROJET -->
            <div fxFlex="67%" class="content-container">
                <router-outlet></router-outlet>
            </div> 

        </div>
    </div>    
</div>
