
<div *ngFor="let titre of imageTitres; let i= index;">
    
    <!-- IMAGE TITRE SECTION -->
    <img [class.images-titres1]="i === 0" [class.images-titres]="i > 0" src='assets/img/{{titre.image}}'> 
    
    <!-- TITRE DES PROJETS PAR SECTION -->
    <ul *ngFor="let projet of projets">
        <ng-container *ngIf="projet.section === titre.section">
            <a class="liens-projets" routerLink="/{{projet.lien}}">
                <span>{{projet.titre}}</span>
            </a>
        </ng-container>
    </ul>

</div>
