* {
    margin:0;
    padding:0;
    font-family: Helvetica, sans-serif;

}

h1 {
    font-size: 12px;
    font-weight:bold;
    padding-bottom:3px;
}

p {
    font-size: 10px;
}

h3 {
    font-size: 9px;
    font-weight: normal;
}

.footer {
    padding-bottom:20px;
    padding-top:55px;
    color:#a4a4a4;
    text-align: center;
}

.signature {
    font-weight:bold;
}